

#productsId{
    width: 267px;
    height: 347px;
    /* padding-left: 10px; */
    border-radius: 10px;
}

.productlistCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.productCard{
    padding: 45px 0;
    padding-left: 30px;
}

button:hover{
    background-color: goldenrod;
    border-radius: none;
}
button{
    font-size: 28px;
    border-radius: 5px;
}