

#img2{
    width: 243px;
    height: 256px;
    /* padding-left: 10px; */
    border-radius: 5px;
}

.card-img2{
    width: 261px;
    height: 288px;
    padding-left: 20px;
    padding-top: 17px;
    text-align: center;
    /* padding: 32px 0px; */
}

button:hover{
    background-color: goldenrod;
}
button{
    font-size: 28px;
    border-radius: 5px;
}